@inherits LayoutComponentBase
@if (!State.IsAnnoucementMode)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}
<div class="main">
    @if (!State.IsAnnoucementMode)
    {
        <div class="top-row px-4">
            <LoginDisplay />
        </div>
    }
        <div class="content px-4">
            @Body
        </div>
    </div>

@code {
    [Inject] public AppState State { get; set; }

    protected override void OnInitialized()
    {        
        State.AnnoucementMode += FullScreen;
    }

    private void FullScreen(object o, EventArgs args)
    {
        StateHasChanged();
    }
}